## 1. Importing Python Libraries

We shall start by importing the essential Python libraries

In [2]:
### IMPORTING LIBRARIES
import numpy as np
import pandas as pd
import requests

## 2. Importing and Cleaning the Top Rated Movies Dataframe

Now, we shall create a variable for the API key and also import the movies dataframe that we had pulled in our last session.

In [3]:
api_key = "API Key"

In [4]:
movies = pd.read_csv('tmdb_movies_data.csv')
movies.head(10)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5hNcsnMkwU2LknLoru73c76el3z.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",24.222,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3253
1,False,/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,67.359,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,20172
2,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",62.603,/eEslKSwcqmiNS6va24Pbxf2UKmJ.jpg,1972-03-14,The Godfather,False,8.7,15112
3,False,/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg,[10749],724089,en,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,10.796,/x5o8cLZfEXMoZczTYWLrUo1P7UJ.jpg,2020-07-31,Gabriel's Inferno Part II,False,8.7,1334
4,False,/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg,"[10749, 35]",761053,en,Gabriel's Inferno Part III,The final part of the film adaption of the ero...,34.804,/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg,2020-11-19,Gabriel's Inferno Part III,False,8.6,901
5,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,35.794,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-11-30,Schindler's List,False,8.6,12066
6,False,/w2uGvCpMtvRqZg6waC1hvLyZoJa.jpg,[10749],696374,en,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,14.372,/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg,2020-05-29,Gabriel's Inferno,False,8.6,2155
7,False,/3ggZWEoa2aegF6AYyjyNRm8noM5.jpg,"[18, 80]",240,en,The Godfather: Part II,In the continuing saga of the Corleone crime f...,40.244,/sSuQTCZwqKrNBNIsksO9IAUoWP9.jpg,1974-12-20,The Godfather: Part II,False,8.6,9097
8,False,/1EAxNqdkVnp48a7NUuNBHGflowM.jpg,"[16, 28, 878]",283566,ja,シン・エヴァンゲリオン劇場版:||,"In the aftermath of the Fourth Impact, strande...",153.382,/jDwZavHo99JtGsCyRzp4epeeBHx.jpg,2021-03-08,Evangelion: 3.0+1.0 Thrice Upon a Time,False,8.6,383
9,False,/l5K9elugftlcyIHHm4nylvsn26X.jpg,[18],255709,ko,소원,After 8-year-old So-won narrowly survives a br...,8.039,/x9yjkm9gIz5qI5fJMUTfBnWiB2o.jpg,2013-10-02,Hope,False,8.6,236

Next, we will be dropping some of the columns that contain information which are not helpful to us.

In [5]:
### DROPPING UNNECESSARY COLUMNS
movies.drop(['backdrop_path', 'original_title', 'overview', 'poster_path'], axis = 1, inplace = True)
movies.head(10)

,adult,genre_ids,id,original_language,popularity,release_date,title,video,vote_average,vote_count
0,False,"[35, 18, 10749]",19404,hi,24.222,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3253
1,False,"[18, 80]",278,en,67.359,1994-09-23,The Shawshank Redemption,False,8.7,20172
2,False,"[18, 80]",238,en,62.603,1972-03-14,The Godfather,False,8.7,15112
3,False,[10749],724089,en,10.796,2020-07-31,Gabriel's Inferno Part II,False,8.7,1334
4,False,"[10749, 35]",761053,en,34.804,2020-11-19,Gabriel's Inferno Part III,False,8.6,901
5,False,"[18, 36, 10752]",424,en,35.794,1993-11-30,Schindler's List,False,8.6,12066
6,False,[10749],696374,en,14.372,2020-05-29,Gabriel's Inferno,False,8.6,2155
7,False,"[18, 80]",240,en,40.244,1974-12-20,The Godfather: Part II,False,8.6,9097
8,False,"[16, 28, 878]",283566,ja,153.382,2021-03-08,Evangelion: 3.0+1.0 Thrice Upon a Time,False,8.6,383
9,False,[18],255709,ko,8.039,2013-10-02,Hope,False,8.6,236

Now, in order to perform content based filtering, the amount of information present in the dataframe _movies_ is not enough. To establish similarity between two movies, we need features that can be used to relate them. Here, we will try to add more information by adding the name of the director of each of these movies and the five main actors starring in each of them. Hence, if we choose one movie, the next recommended movie will have either a similar cast or the same director.


Now, to store data properly and to make searches efficient, TMDB gives a unique id to each movie. We can see the column _'id'_ in _movies_ which contains such ids. Let us extract these ids separately for easy use.

In [5]:
movie_ids = movies['id']

## 3. Pulling Director Data Using API Key

We now use our API key to pull crew data from the website. For this, we go to https://developers.themoviedb.org and on the left column, we can see a section of urls that can help us get the information we need. We select the url for _'Get Credits'_ under _MOVIES_ and attach the movie id and API key as directed. We then extract information from the response object that we get. We can see from https://developers.themoviedb.org that the json file in the response object contains an array _crew_ which has the information we need. Let us make a pandas dataframe, _tmdb_crew_, from this array, then extract the name of the director of that movie. 

We shall loop the process over all the movie ids using a for-loop and then make a list containing the movie ids in one column and its respective director in the other.

In [6]:
### EXTRACTING DIRECTORS FOR EVERY TOP RATED MOVIE
tmdb_direct = []
for movie_id in movie_ids:
    url = "https://api.themoviedb.org/3/movie/%d" % movie_id + "/credits?api_key=" + api_key + "&language=en-US"
    response = requests.get(url)
    tmdb_crew = pd.DataFrame(response.json()['crew']) #extracting array from the json file
    director = tmdb_crew[tmdb_crew['job'] == 'Director']['name'].values.tolist()[0] #extracting director name
    tmdb_direct.append([movie_id, director])

Let us make a pandas dataframe from this list.

In [7]:
### CREATING A PANDAS DATAFRAME CONTAINING MOVIE IDS AND DIRECTOR NAMES
tmdb_direct = pd.DataFrame(tmdb_direct, columns = ['id', 'director'])
tmdb_direct

          id              director
0      19404         Aditya Chopra
1        278        Frank Darabont
2        238  Francis Ford Coppola
3     724089            Tosca Musk
4     761053            Tosca Musk
...      ...                   ...
9355   12142              Uwe Boll
9356    5491       Roger Christian
9357   11059              Uwe Boll
9358   14164            James Wong
9359   40016          James Nguyen

[9360 rows x 2 columns]

## 4. Saving the Director Dataframe

Then we store this dataframe in csv format for future use.

In [8]:
tmdb_direct.to_csv('tmdb_directors.csv', index = False)

## 5. Pulling Cast Data Using API Key


Next, we try to do the same thing to get information about the actors appearing in the movies. Since there are numerous actors in a movie, we shall only consider the top 5 leads. We shall use our API key to pull cast data from the website. For this, we go to https://developers.themoviedb.org and on the left column, we can see a section of urls that can help us get the information we need. We select the url for _'Get Credits'_ under _MOVIES_ and attach the movie id and API key as directed. We then extract the information from the response object that we get. We can see from https://developers.themoviedb.org that the json file in the response object contains an array _cast_ which has the information we need. Let us make a pandas dataframe, _tmdb_cast_, from this array.

Here, we face two problems:
1. Some movies do not contain any information about its cast i.e. they lack the column containing information about the cast. To work around this problem, we shall apply a filter which will only allow movies having exactly 12(maximum number of columns) columns to pass through.
2. Some movies have less than 5 actors. For this, we shall make the following if-else statement: If the number of actors is more than 5, then we only consider the top 5 leads; if it is less than 5, then we shall extend the list by adding 5 'None' values and then consider the top 5 leads.  

We shall loop the process over all the movie ids using a for-loop and then make a list containing the movie ids in one column and the top 5 leads in the other 5 columns.

In [9]:
### EXTRACTING THE CAST FOR EACH TOP RATED MOVIE
tmdb_act = []
for movie_id in movie_ids:
    url = "https://api.themoviedb.org/3/movie/%d" % movie_id + "/credits?api_key=" + api_key + "&language=en-US"
    response = requests.get(url)
    tmdb_cast = pd.DataFrame(response.json()['cast'])
    if(len(tmdb_cast.columns) == 12): #filtering cast data with exactly 12 columns
        actors = tmdb_cast[tmdb_cast['known_for_department'] == 'Acting']['name'].tolist() #extracting the cast data
        if(len(actors) >= 5):
            actors = actors[0:5] #extracting the five main lead actors
        else:
            actors.extend(['None', 'None', 'None', 'None', 'None']) #extending the cast list
            actors = actors[0:5] #extracting the five main lead actors
    tmdb_act.append([movie_id, actors[0], actors[1], actors[2], actors[3], actors[4]])

We shall convert this list into a pandas dataframe.

In [10]:
### CREATING A PANDAS DATAFRAME CONTAINING MOVIE ID AND THE FIVE MAIN ACTORS
tmdb_act = pd.DataFrame(tmdb_act, columns = ['id', 'actor_1', 'actor_2', 'actor_3', 'actor_4', 'actor_5'])
tmdb_act

,id,actor_1,actor_2,actor_3,actor_4,actor_5
0,19404,Shah Rukh Khan,Kajol,Amrish Puri,Anupam Kher,Satish Shah
1,278,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Clancy Brown
2,238,Marlon Brando,Al Pacino,James Caan,Robert Duvall,Richard S. Castellano
3,724089,Melanie Zanetti,Giulio Berruti,James Andrew Fraser,Margaux Brooke,Agnes Albright
4,761053,Melanie Zanetti,Giulio Berruti,Rhett Wellington,James Andrew Fraser,Margaux Brooke
...,...,...,...,...,...,...
9355,12142,Christian Slater,Tara Reid,Stephen Dorff,Will Sanderson,Ona Grauer
9356,5491,John Travolta,Barry Pepper,Forest Whitaker,Kim Coates,Sabine Karsenti
9357,11059,Jonathan Cherry,Tyron Leitso,Clint Howard,Ona Grauer,Michael Eklund
9358,14164,Justin Chatwin,Chow Yun-Fat,Joon Park,Jamie Chung,Emmy Rossum
9359,40016,Alan Bagh,Whitney Moore,Janae Caster,Colton Osborne,Adam Sessa

## 6. Saving the Cast Dataframe

And we store this dataframe in csv format for future use.

In [11]:
tmdb_act.to_csv('tmdb_actors.csv', index = False)